@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  font-size: 16px;
  --royal-blue-light: #ffffff;
  --royal-blue-dark: #3946d4;
  --white: rgb(7, 6, 6);
  --backgroud: #e2e3e9;
}

body {
  display: block;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: var(--backgroud);
  transform: 0.3s;
}

input[type="checkbox"] {
  display: none;
  justify-content: flex-end;
}

/* Dark Theme */
.dark,
.dark header {
  background-color: #263238;
  color: #fff;
}

.dark .bi-sun {
  margin-left: 10rem;
  display: none;
}

.dark .bi-sun {
  margin-left: 20rem;
  margin-right: 0.8rem;
  display: block;
}

.bi {
  margin-left: 20rem;
  margin-right: 1.2rem;
  font-size: 1.3rem;
  cursor: pointer;
}

.bi-moon {
  margin-right: 1.3rem;
  display: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ECEFF1;
  box-shadow: 0.5px 0.5px 10px 0.5px #000;
  padding: 1rem 2rem;
  position: relative;
}

.line {
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  color: rgba(255, 255, 255, 0.75);
  font-family: 'Roboto', sans-serif;
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
  font-size: 1.75rem;
}

.type-animation {
  animation:
    cursor 500ms steps(28) infinite normal;
  transition: .4s steps(28) 1s normal both;
}

@keyframes type {
  from {
    width: 0;
  }

  to {
    width: 15em;
  }
}

@keyframes cursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }

  to {
    border-right-color: transparent;
  }
}

a {
  color: var(--white);
  text-decoration: none;
  
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--royal-blue-light);
  height: 4.6875rem;
  padding: 1rem;
}

.logo {
  margin-left: 1.1rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: #ffffff;
}

.menu {
  list-style: none;
  justify-content: flex-end;
  display: flex;
  gap: 0.5rem;
}

.menu a {
  display: block;
  padding: 2rem;
  border-radius: 0.5rem;
}

.menu a:hover {
  background: var(--royal-blue-dark);
}

.btn-menu {
  display: none;
}

@media (max-width: 600px) {
  .menu {
    display: block;
    position: absolute;
    top: 4.6875rem;
    left: 0;
    background: var(--royal-blue-light);
    text-align: center;
    width: 100%;
    height: 0;
    z-index: 1;
    visibility: hidden;
    overflow-y: hidden;
    transition: 0.5s;
  }

  .menu a {
    padding: 1rem 0;
    margin-inline: 1rem;
    border-bottom: 0.0625rem solid rgba(255, 255, 255, 0.16);
    border-radius: 0;
  }

  .logo {
    color: #000;
  }
  .btn-menu {
    background: none;
    border: none;
    font: inherit;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--white);
    padding: 1rem 0;
    cursor: pointer;
    margin-right: 100rem;
  }

  .hamburger {
    border-top: 0.125rem solid;
    width: 1.25rem;
  }

  .hamburger::after,
  .hamburger::before {
    content: " ";
    display: block;
    width: 1.25rem;
    height: 0.125rem;
    background: currentColor;
    margin-top: 0.3125rem;
    position: relative;
    transition: 0.3s;
  }

  .nav.active .menu {
    height: calc(100vh - 4.6875rem);
    visibility: visible;
    overflow-y: auto;
  }

  .nav.active .hamburger {
    border-top-color: transparent;
  }

  .nav.active .hamburger::before {
    transform: rotate(135deg);
  }

  .nav.active .hamburger::after {
    transform: rotate(-135deg);
    top: -0.4375rem;
  }
}



/* menu footer */


footer {
  background-color: #415aca;
  padding: 50px 0;
}

.container-footer {
  max-width: 1400px;
  bottom: -100vh;
  padding: 0 4%;
  margin: auto;
}

.row-footer {
  display: flex;
  flex-wrap: wrap;
}

.footer-col {
  width: 25%;
  padding: 0 15px;
}

.footer-col h4 {
  font-size: 22px;
  color: white;
  margin-bottom: 20px;
  font-weight: 500;
  position: relative;
  text-transform: uppercase;
}

.footer-col ul {
  list-style: none;
}

.footer-col ul li {
  margin: 10px 0;
}

.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: white;
  text-decoration: none;
  font-weight: 300;
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  color: #cecdcd;
  padding-left: 10px;
}

.footer-col .medias-socias {
  margin-top: 30px;
}

.footer-col .medias-socias a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  margin: 0 10px 10px 0;
  text-decoration: none;
  border-radius: 50%;
  color: white;
  border: 1px solid white;
  transition: all 0.5s ease;
}

.footer-col .medias-socias a i {
  font-size: 20px;
}

.footer-col .medias-socias a:hover {
  color: #415aca;
  background-color: white;
}

.footer-col .form-sub input {
  width: 100%;
  padding: 10px;
  font-size: 15px;
  outline: none;
  border: 1px solid white;
  color: white;
  background-color: #415aca;
}

.footer-col .form-sub input::placeholder {
  color: white;
}

.footer-col .form-sub button {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  font-size: 17px;
  outline: none;
  border: none;
  cursor: pointer;
  color: #415aca;
  border-radius: 3px;
  font-weight: bold;
  background-color: white;
}

/* Responsivo */
@media (max-width: 800px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}

@media (max-width:600px) {
  .footer-col {
    width: 100%;
  }
}